<!-- views/partials/verb/formSections/verbDisplayConjugation.ejs -->
<table>
    <thead>
    <tr>
        <th>Местоимение</th>
        <th>Спряжение</th>
    </tr>
    </thead>
    <tbody>
    <% const pronouns = ['ich', 'du', 'er/sie/es', 'wir', 'ihr', 'sie/Sie']; %>
    <% pronouns.forEach(pronoun => { %>
        <tr>
            <td><%= pronoun %></td>
            <td>
                <input type="text" class="form-control" name="conjugations[<%= tense %>][<%= pronoun %>]" value="<%= conjugationData[pronoun] || '' %>">
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>