<!-- views/partials/verb/formSections/verbDisplayConjugation.ejs -->
<table>
    <thead>
    <tr>
        <th>Местоимение</th>
        <th>Спряжение</th>
    </tr>
    </thead>
    <tbody>
    <% if (conjugationData) { %>
        <% Object.entries(conjugationData).forEach(([pronoun, conjugation]) => { %>
            <tr>
                <td><%= pronoun %></td>
                <td>
                    <input type="text" class="form-control" name="conjugations[<%= tense %>][<%= pronoun %>]" value="<%= conjugation %>">
                </td>
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>