<!-- views/partials/verb/formSections/verbConjugationsForm.ejs -->
<div class="form-group">
    <label>Спряжения:</label>
    <% if (typeof conjugations === 'object' && conjugations !== null) { %>
        <% if (Object.keys(conjugations).length > 0) { %>
            <% Object.keys(conjugations).forEach(tense => { %>
                <h3><%= tense %></h3>
                <%- include('./verbDisplayConjugation', { conjugations: conjugations[tense], tense: tense }) %>
            <% }) %>
        <% } else { %>
            <p>Данные о спряжениях отсутствуют.</p>
        <% } %>
    <% } else { %>
        <p>Ошибка: данные о спряжениях некорректны.</p>
    <% } %>
</div>