<!-- views/partials/verb/formSections/verbSentencesForm.ejs -->
<div class="form-group">
    <div class="table-container">
        <%- include('./verbDisplaySentences', { sentenceData: sentences }) %>
        <%- include('./verbDisplaySentencesTranslation', { sentenceTranslationData: sentencesTranslation }) %>
    </div>
</div>