<!-- views/partials/header.ejs -->
<header>
    <nav class="container">
        <ul>
            <li><strong>Deutsch Trainer</strong></li>
        </ul>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/verb">Случайный Глагол</a></li>
            <li><a href="/verbs">Глаголы</a></li>
            <li><a href="/about">О нас</a></li>
        </ul>
    </nav>
</header>