# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# =========================
# Project Files
# =========================
.idea/*
public/pictures
deploy.php
ssl*
logs*

# =========================
# Composer Build Artifacts
# =========================
vendor*

# =========================
# Node Build Artifacts
# =========================
node_modules*
npm-debug.log

# =========================
# Local Development
# =========================
*.env
*.dev
.DS-Store


# =========================
# Docker Files
# =========================
Dockerfile
docker-compose.yml
*.zip


# =========================
# Additional by Laravel
# =========================
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
yarn-error.log
/.fleet
/.vscode