<!-- views/layouts/verbLayout.ejs -->
<%- include('../layout', {
    title: title,
    verbStyles: verbStyles,
    verbScripts: verbScripts,
    editMode: editMode,
    content: `
        <div class="container">
            <h1>${pageHeader}</h1>
            ${typeof verb !== 'undefined' && verb !== null && !editMode ? `
            <div class="verbDetails" data-letter="${verb && verb.verb ? verb.verb.charAt(0).toLowerCase() : ''}" data-verb="${verb && verb.verb ? verb.verb : ''}">
            <div class="verbDetails" data-letter="${verb.verb ? verb.verb.charAt(0).toLowerCase() : ''}" data-verb="${verb.verb ? verb.verb : ''}">
                ${include('../partials/verb/verbDetails', { verb: verb, translation: translation, sentences: sentences, sentencesTranslation: sentencesTranslation })}
            </div>
            <div class="verbLearningGame" id="verbLearningGameContainer">
                <div id="gameContainer" style="display: none;">
                    <button id="stopBtn" class="btn btn-danger">Стоп</button>
                    <button id="backBtn" class="btn btn-secondary">Назад</button>
                    <div id="cardContainer" class="card-container"></div>
                </div>
            </div>
            <div class="verbCheckSentence">
                ${include('../partials/verb/checkSentence', { verb: verb })}
            </div>
            ` : ''}
            ${editMode ? `
            <div class="verbDetailsEdit">
                ${include('../partials/verb/verbDetailsEdit', { verb, letter, translation, conjugations, sentences, sentencesTranslation })}
            </div>
            ` : ''}
            ${content}
        </div>
    `
}) %>