<!-- views/layouts/verbsLayout.ejs -->
<%- include('../layout', {
    title: title,
    verbsStyles: verbsStyles,
    verbsScripts: verbsScripts,
    content: `
        <div class="container">
            <h1>${pageHeader}</h1>
            <a href="${getNamedRoute('verbs.create')}" class="btn btn-primary mb-3">Добавить новый глагол</a>
            ${include('../partials/verbs/search')}
            ${include('../partials/verbs/alphabet')}
            <div class="verbs">
                ${verbs.map(verb => include('../partials/verbs/card', { verb: verb })).join('')}
            </div>
            ${include('../partials/verbs/pagination', { currentPage: currentPage, totalPages: totalPages, letter: letter })}
        </div>
    `
}) %>