<!-- views/about.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
</head>
<body>

<div class="container">
    <%- include('layout') -%>
    <h1>О Нас</h1>
    <p>
        Добро пожаловать на наш сайт, посвященный изучению немецких глаголов!
    </p>
    <p>
        Изучение глаголов является важной частью освоения немецкого языка. Глаголы играют ключевую роль в построении предложений и выражении действий, состояний и событий. Наш сайт предоставляет удобные инструменты и ресурсы для эффективного изучения и запоминания немецких глаголов.
    </p>
    <h2>Наши возможности</h2>
    <ul>
        <li>Список наиболее часто используемых немецких глаголов с переводом на русский язык.</li>
        <li>Примеры предложений с каждым глаголом для лучшего понимания контекста использования.</li>
        <li>Интерактивные упражнения и тесты для закрепления знаний.</li>
        <li>Возможность поиска глаголов по алфавиту и ключевым словам.</li>
        <li>Удобная навигация и дружественный интерфейс.</li>
    </ul>
    <p>
        Наша цель - помочь вам расширить свой словарный запас и улучшить навыки использования немецких глаголов в устной и письменной речи. Регулярное изучение и практика с помощью нашего сайта позволят вам быстрее освоить немецкий язык и увереннее общаться на нем.
    </p>
    <p>
        Присоединяйтесь к нам и начните свое увлекательное путешествие в мир немецких глаголов прямо сейчас!
    </p>
</div>
</body>
</html>