<!-- views/error.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Ошибка</title>
  </head>
  <body>
    <h1>Ошибка</h1>
    <p><%= message %></p>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
    <a href="/">Вернуться на главную страницу</a>
  </body>
</html>