<!-- views/index.ejs -->
<%- include('layout', {
    title: 'Главная страница',
    indexStyles: true,
    content: `
        <main>
          <section class="hero">
            <div class="container">
              <h1>Добро пожаловать на Deutsch Trainer!</h1>
              <p>Ваш онлайн тренажер для изучения немецкого языка</p>
            </div>
          </section>
          <section class="features">
            <div class="container">
              <h2>Почему Deutsch Trainer?</h2>
              <div class="feature">
                <img src="/images/index/laptop.png" alt="Удобный интерфейс">
                <h3>Удобный интерфейс</h3>
                <p>Наш интуитивно понятный интерфейс делает изучение немецкого языка простым и увлекательным.</p>
              </div>
              <div class="feature">
                <img src="/images/index/headphones.png" alt="Эффективные методики">
                <h3>Эффективные методики</h3>
                <p>Мы используем проверенные методики обучения, которые помогут вам быстро освоить немецкий язык.</p>
              </div>
              <div class="feature">
                <img src="/images/index/desk.png" alt="Интерактивные упражнения">
                <h3>Интерактивные упражнения</h3>
                <p>Наши интерактивные упражнения и тесты сделают процесс обучения увлекательным и эффективным.</p>
              </div>
            </div>
          </section>
          <section class="cta">
            <div class="container">
              <h2>Начните изучать немецкий язык прямо сейчас!</h2>
              <a href="/verbs" class="button">Изучать глаголы</a>
            </div>
          </section>
        </main>
    `
}) %>