<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Добро пожаловать в приложение для изучения немецких глаголов!</p>
    <a href="/verb">Начать изучение</a>
  </body>
</html>