<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Добро пожаловать в приложение для изучения немецких глаголов!</p>
      <a href="/verb">Случайный глагол</a><br>
      <a href="/verb-list">Список глаголов</a>
    </div>
  </body>
</html>