<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <h1><%= title %></h1>
      <p>Добро пожаловать в приложение для изучения немецких глаголов!</p>
    </div>
  </body>
</html>