<!-- views/layout.ejs -->
<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
<%- include('partials/header') %>
<!-- ... -->
</body>
</html>