<!-- views/partials/verb-list/card.ejs -->
<div class="card">
    <div class="card-front">
        <h2><%= verb.verb %></h2>
    </div>
    <div class="card-back">
        <h2><%= verb.translation %></h2>
        <a href="/verb-list/letter/<%= verb.verb.charAt(0).toUpperCase() %>/<%= verb.verb %>">Подробнее</a>
    </div>
</div>