<!-- views/partials/verb/checkSentence.ejs -->
<form id="checkSentenceForm">
    <input type="hidden" name="verb" value="<%= verb.verb %>">
    <input type="text" name="sentence" id="sentenceInput" placeholder="Введите предложение">
    <button type="submit">Проверить</button>
</form>
<div id="checkResult"></div>