<!-- views/partials/verb/verbCreateForm.ejs -->
<form action="<%= getNamedRoute('verbs.store') %>" method="POST">
    <div class="form-group">
        <label for="verb">Глагол:</label>
        <input type="text" class="form-control" id="verb" name="verb" required>
    </div>

    <%- include('./formSections/verbFormTranslations', { translation }) %>
    <%- include('./formSections/verbFormConjugations', { conjugations }) %>
    <%- include('./formSections/verbFormSentences', { sentences, sentencesTranslation }) %>

    <button type="submit" class="btn btn-primary">Создать глагол</button>
</form>