<!-- views/partials/verb/verbDetailsForm.ejs -->
<form action="<%= getNamedRoute('verbs.update', { letter: letter, verb: verb }) %>?_method=PUT" method="POST">

    <%- include('./formSections/verbFormTranslations', { translation }) %>
    <%- include('./formSections/verbFormConjugations', { conjugations }) %>
    <%- include('./formSections/verbFormSentences', { sentences, sentencesTranslation }) %>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>