<!-- views/partials/verbs/alphabet.ejs -->
<div class="alphabet">
    <% alphabet.forEach(letter => { %>
        <% if (letterAvailability[letter]) { %>
            <a href="<%= getNamedRoute('verbs.letter', { letter: letter }) %>"><%= letter %></a>
        <% } else { %>
            <span class="disabled"><%= letter %></span>
        <% } %>
    <% }) %>
</div>