<!-- views/partials/verbs/search.ejs -->
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Поиск глагола">
</div>
<div class="search-results-container">
    <div id="searchResults" class="search-results"></div>
</div>