/* public/stylesheets/verb/games/verbLearningGame.css */

.verbLearningGame {
    margin-bottom: 20px;
}

.verbLearningGame .card-container {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

.verbLearningGame .endGameScreen {
    margin-top: 20px;
    text-align: center;
}

.verbLearningGame .endGameScreen h3 {
    font-size: 24px;
    margin-bottom: 10px;
}